.Detail {
    flex: 1 1 45%;
    padding: 5% 1% 1%;
    height: 70vh;
}

.Detail .card {
    padding: 2%;
    overflow: auto;
    max-height: 100%;
}

.Detail .hide {
    display: none;
}

.Detail #reviews hr {
    border: 0.25px ridge #fff;
    margin: 1% 0;
}

.Detail .tabs .tab a:hover,
.tabs .tab a.active {
    color: #F25F5C;
    font-weight: bold;
}

.Detail .card-bottom {
    background-color: #eabf53;
    max-height: 35em;
    overflow: auto;
}

.Detail .card .card-content p {
    font-size: 1.25rem;
    color: rgb(58, 30, 45);
}

.Detail .card .card-content p span {
    text-shadow: -1px 0px 1px rgb(192, 191, 191);
    color: #fff;
}

.Detail .tabs .indicator {
    height: 5px;
    background-color: #f4797e;
}

.Detail .reviewDiv .card .card-title {
    color: #000;
    text-align: right;
    font-weight: 700;
}

.Detail .reviewDiv .card {
    padding: 2% 2% 0;
}

.Detail .reviewDiv .reviewScroll {
    overflow: auto;
}

.Detail .reviewDiv .card .card-content {
    padding: 1% 2%;
}

.Detail .reviewDiv .card .card-content>p:nth-child(3) {
    text-align: right;
}

.Detail .reviewDiv .card .card-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0;
}

.Detail .reviewDiv .card .card-action p {
    font-size: 0.9em;
}